@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
}
:any-link {
  text-decoration: none;
  color: black;
}
main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
header {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-around;
  background: linear-gradient( -45deg, #00283f, #02F1FF);
  height: 80px;
  align-items: center;
}
header img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
header .nav{
  display: flex;
  list-style: none;
  align-items: center;
}
header .nav li{
  margin-left: 30px;
}
header .nav li a{
  color: white;
  font-size: 18px;
  font-weight: 400;
  transition: 0.5s;
}
header .nav li a:hover,
header .nav li a.active {
  background-color: #02F1FF;
  color: #00283f;
  padding: 15px 20px;
  border-radius: 20px;
  font-weight: 700;
}
.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: url(imgs/main-bg.png);
  height: calc(100vh - 80px);
  align-content: space-around;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content .landing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #00283f;
  background-color: #02F1FF;
  height: fit-content;
  border-radius: 20px;
  padding: 30px;
  gap: 10px;
  animation: flashing 1s infinite alternate;
}
.content .landing h2 {
  margin: 0;
}
.content h3 {
  color: white;
  margin-top: 75px;
  animation: flashing-text 1s infinite alternate;
}

@media (max-width: 767px) {
  header .nav li{
    margin-left: 10px;
  }
  header .nav li a{
    color: white;
    font-size: 10px;
    font-weight: 300;
  }
  .content .landing h2 {
  font-size: 22px;
  }
  .content h3 {
  font-size: 18px;
  }
  header .nav li a:hover,
  header .nav li a.active {
    background-color: #02F1FF;
    color: #00283f;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: 700;
  }
}

@keyframes flashing-text {
  0% {
    text-shadow: 0 0 10px #000;
  }
  100% {
    text-shadow: 0 0 10px #ccc;
  }
}
@keyframes flashing {
  0% {
    box-shadow: 0 0 10px #000;
  }
  100% {
    box-shadow: 0 0 10px #ccc;
  }
}
